body{
	position: relative; 
	padding: 0;
	margin: 0;
	background:  #F0F5F7;
}

#top {
	width: 100%;
	height: 50px;
	
	background: lavender;
  border: 1px solid #E8EEF9;
	border-radius: 0 0 0 0;
	box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
#top span{
	position: relative;
	padding: 0;
	margin: 0;
	top: 15px;
	left: 30px;
	font-size: 19px;
	color: grey;
}
#top .exit	{
	position: relative;
	text-decoration: none;
	color: grey;
	font-size: 18px;
	top:13px;
	float: right;
	left: -30px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	background-color: #cccccc;
	
}
#top a:hover	{
	background-color: #aaaaaa;
}
#right-menu {
	position: absolute;
	width: 15%;
	height: 600px;
	top: 75px;
	left: 2%;
	background:  #F9FdFd;
  border: 1px solid #cccccc;
	border-radius: 10px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.08);
}

#top_center {
	position: absolute;
	top: 75px;
	left: 24%;
	width: 52%;
	height: 200px;
	background:  #F9FdFd;
  border: 1px solid #CAD8DE;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}
#center{
	position: absolute;
	top: 75px;
	left: 19%;
	width: 79%;
	height: 800px;
	color: gray;
	background:  #F9FdFd;
	border: 1px solid #CAD8DE;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

#left-menu {
	position: absolute;
	width: 20%;
	height: 650px;
	top: 75px;
	left: 78%;
	background:  #F9FdFd;
  border: 1px solid #cccccc;
	border-radius: 10px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.08);
}


#all-heads {
	width: 99.%;
	height: 30px;
	background:  lavender;
	box-shadow: 0 1px 10px rgba(0,0,0,0.08);
}

#all-heads span{
	position: relative;
	padding: 0;
	margin: 0;
	top: 4px;
	left: 10px;
	font-size: 19px;
	color: grey;
}
#center-heads {
	width: 99.%;
	height: 30px;
	background:  lavender;
	box-shadow: 0 1px 10px rgba(0,0,0,0.08);
}

#center-heads span{
	position: relative;
	padding: ;
	margin: 0;
	top: 4px;
	left: 10px;
	font-size: 17px;
	color: grey;
}

.normLink {
	color:cadetblue;
	text-decoration: underline;
}

#center-body fieldset{
	border: 1px solid #badff3;
}
#top .exit {
	border-top: 1px solid #98CCE7;
	border-bottom: 1px solid #7DB0CC;
	border-left: 1px solid #8CBFD9;
	border-right: 1px solid #8CBFD9;
	border-radius: 15px;
	color:white;
	box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
	background: -moz-linear-gradient(top,  #badff3 0%, #7acbed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badff3), color-stop(100%,#7acbed));
	background: -webkit-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -o-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -ms-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background-color: #9FD7F0;
	cursor: pointer;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
}

#center-body .export input,#center-body .import .in,#center-body .import .in1,#center-body .aviso input[type=button],#center-body .delNews input[type=button], #center-body #listAudition input[type=button] {

	padding: 6px 20px;
	height: 30px;
  border-top: 1px solid #98CCE7;
  border-bottom: 1px solid #7DB0CC;
  border-left: 1px solid #8CBFD9;
  border-right: 1px solid #8CBFD9;
  border-radius: 15px;
	color: #FFF;
  font: bold 13px Arial, Tahoma, sans-serif;
	box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
	background: -moz-linear-gradient(top,  #badff3 0%, #7acbed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badff3), color-stop(100%,#7acbed));
	background: -webkit-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -o-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -ms-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background-color: #9FD7F0;
	cursor: pointer;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	outline: none;
}
#center-body .delNews input[type=button] {
	padding: 0;
	margin:10px;
	height: 25px;
}
#center-body .export input,#center-body .import .in,#center-body .import .in1,#center-body .aviso input[type=button]  {
	float:right;
}
#center-body .export input::-moz-focus-inner{border:0}
#center-body .import .in::-moz-focus-inner{border:0}
#center-body .import .in1, #center-body .aviso input[type=button] {
	float:left;
}

#center-body .aviso textarea,#center-body .aviso input[type=text]{
	background: white;
	color:black;
	border-top: 1px solid #98CCE7;
	border-bottom: 1px solid #7DB0CC;
	border-left: 1px solid #8CBFD9;
	border-right: 1px solid #8CBFD9;
	border-radius: 2px;
}
